---
interface Props {
  title: string;
  description: string;
  pubDate: Date;
  url: string;
}

const { title, description, pubDate, url } = Astro.props;

const fullDate = pubDate.toLocaleDateString("en", {
  year: "numeric",
  month: "long",
  day: "numeric",
});
---

<li
  class="relative flex flex-col gap-2 transition-colors text-zinc-400 sm:gap-3 sm:p-5 sm:hover:bg-zinc-800"
>
  <time
    datetime={pubDate.toISOString()}
    class="block text-sm tracking-relaxed text-zinc-400"
  >
    {fullDate}
  </time>
  <a
    class="text-lg font-semibold before:absolute before:inset-0 text-zinc-100"
    href={url}
  >
    {title}
  </a>
  <p class="leading-relaxed max-w-prose">{description}</p>
</li>
